

<div class="container">
    <h1>about</h1>

    <h4>Daftar Mahasiswa</h4>
    <% mahasiswa.forEach(mhs => { %>
    <ul>
    <li>nama: <%= mhs.nama  %></li>
    <li>nama: <%= mhs.email  %></li>
    </ul>
    <% }) %>
</div>
    

   
 



